
/* Carousel Style */
.carousel div div div div div div p{
    position: relative;
    display: block;
    width: 95%;
    height: auto;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-left: 60%;
    margin-top: 45%;
}
.carousel div div div div div div span{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
}
#button1 {
    margin-right: 5px;
    font-size: medium;
    border: 1px solid;
    border-radius: 7%;
    background-color: rgba(255, 0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
}
#button2 {
    margin-right: 5px;
    font-size: medium;
    border-radius: 7%;
    background-color: rgb(69, 238, 69, 0.805);
    color: rgb(255, 255, 255);
    padding: 10px;
}
.d-block{
    filter: brightness(60%);
}

.contenedor p{
    width: auto;
    height: auto;
    font-size: medium;
    color: rgb(255, 255, 255);
    background-color: rgba(10, 19, 27, 0.8);
    margin-top: -1px;
    margin-left: -24px;
    padding: 20px;
    border: 2px solid;
    border-color: aliceblue;
}
.contenedor button{
    font-size: medium;
    margin-top: 20px;
    border: 2px solid;
    border-radius: 6%;
    border-color: rgb(255, 255, 255);
    padding: 4px 9px;
    align-items: center;
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.contenedor span{
    font-size: x-large
}
/* End Carousel*/


/* Mobile Size */
@media (max-width: 576px) {
    body {
      font-size: 11px;
    }
  }
  
  /* Tablet Size */
  @media (min-width: 577px) and (max-width: 768px) {
    body {
      font-size: 15px;
    }
  }
  
  /* Monitor Size */
  @media (min-width: 769px) {
    body {
      font-size: 20px;
    }
  }